* {
    margin: 0px;
    padding: 0px;

    /* margin-left: 1%; */

}

.container {
    width: 100vw;
    height: 100vh;

    background-color: blue;

    display: flex;

    



    /* margin: 0 auto; */
}

.left {
    /* max-width: 60%; */
    /* max-height: 1500px; */
    background-color: red;
    width: 60%;
}

.right {
    background-color: aqua;
    max-width: 40%;
   
}

h2 {
    color: var(--gray-1, #333);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 1.8%;
    margin-bottom: .7%;

}

.box-up-text {
    color: var(--gray-2, #4F4F4F);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    margin-top: 3.5%;
}

.input {
    color: var(--gray-3, #828282);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 80%;
    height: 2em;

    border-radius: 8px;
    background: #FFF;


}

.box-up-text {
    margin-bottom: 0.5%;
}




.country-code {
    display: flex;
    gap: 5.3%;
    /* width: 100%; */
    margin-top: 2.5%;
}

.form-select {
    
    width: 80%;
    height: 56px;
    border-radius: 5px;
}

.country {

    color: var(--gray-3, #828282);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    width: 80%;
}

.code {

    color: var(--gray-3, #828282);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    width: 80%;

    max-width: 80%;
}
